
.footer-container {
    background-color: black;
    bottom: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 8vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
    align-items: center;
    padding: 20px;
    overflow: hidden;
  }



















































  /* Realizado por Github@woohdang 2023*/